---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: servicetargetconfigs.landscaper-service.gardener.cloud
spec:
  group: landscaper-service.gardener.cloud
  names:
    kind: ServiceTargetConfig
    listKind: ServiceTargetConfigList
    plural: servicetargetconfigs
    shortNames:
    - servcfg
    singular: servicetargetconfig
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.labels.config\.landscaper-service\.gardener\.cloud/visible
      name: Visible
      type: string
    - jsonPath: .spec.priority
      name: Priority
      type: number
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: The ServiceTargetConfig is created to define the configuration
          for a Kubernetes cluster, that can host Landscaper Service deployments.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec contains the specification for the ServiceTargetConfig
            properties:
              ingressDomain:
                description: IngressDomain is the ingress domain of the corresponding
                  target cluster.
                type: string
              priority:
                description: |-
                  The Priority of this ServiceTargetConfig.
                  SeedConfigs with a higher priority number will be preferred over lower numbers
                  when scheduling new landscaper service installations.
                format: int64
                type: integer
              restricted:
                description: A restricted ServiceTargetConfig can only be selected
                  according to scheduling rules.
                type: boolean
              secretRef:
                description: SecretRef references the secret that contains the kubeconfig
                  of the target cluster.
                properties:
                  key:
                    description: Key is the name of the key in the secret that holds
                      the data.
                    type: string
                  name:
                    description: Name is the name of the kubernetes object.
                    type: string
                  namespace:
                    description: Namespace is the namespace of kubernetes object.
                    type: string
                required:
                - name
                type: object
            required:
            - ingressDomain
            - priority
            - secretRef
            type: object
          status:
            description: Status contains the status of the ServiceTargetConfig.
            properties:
              instanceRefs:
                description: InstanceRefs is the list of references to instances that
                  use this ServiceTargetConfig.
                items:
                  description: ObjectReference is the reference to a kubernetes object.
                  properties:
                    name:
                      description: Name is the name of the kubernetes object.
                      type: string
                    namespace:
                      description: Namespace is the namespace of kubernetes object.
                      type: string
                  required:
                  - name
                  type: object
                type: array
              observedGeneration:
                description: |-
                  ObservedGeneration is the most recent generation observed for this ServiceTargetConfig.
                  It corresponds to the ServiceTargetConfig generation, which is updated on mutation by the landscaper service controller.
                format: int64
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
